.content-image{
  width: 100%;
  height: 500px;
}
.content-image img{
  width: 100%;
  height: 100%;
}
.announcement-logo{
  width: 100px;
  object-fit: cover;
  position: fixed;
  height: 200px;
}
.announcement-details{
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
}

.announcement-content{
  width: 90%;
  height: 300px;
  padding-left: 40px;
  
}
.announcement-container{
  width: 100%;
  
}
.announcement-details .announcement-content .announcement-container h3{
  font-weight: 450;
  font-size: 30px;
  text-align: center;
  color: #4a6985;
}
.announcement-details .announcements{
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
}
.announcement-details .annoucements .announcements-header {
  flex-direction: column;
  width: 50%;
  height: 69px;
}
.announcement-details .announcements .announcements-header h2{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #4a6985;
}
.announcement-details .announcements .announcements-header hr{
  width: 20%;
  height: 3px;
  background-color: #4a6985;
  border-radius: 53px;
  border: none;
  margin: 3px auto;
}
.announcement-details hr {
  width: 90%;
  height: 2px;
}
.announcement-details .announcements .announcements-container{
  height: 400px;
  width: 50%;
  overflow-y: scroll;
  margin-inline: auto;
  scroll-behavior: smooth;
  align-items: center;
  justify-content: center;
}
.announcement-details .announcements .announcements-container .announcement-content{
  width: 95%;
  height: 40px;
  margin: 5px auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: wrap;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.announcement-details .announcements .announcements-container .announcements-content a{
  font-weight: 600;
  font-size: 15px;
  color: black;
  text-decoration: none;
}
.announcement-details .announcements .announcements-container .announcements-content a p{
  font-weight: 600;
  font-size: 10px;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: wrap;
  overflow: hidden;
}
.announcement-details .announcements .announcements-container .announcements-content a:hover{
  color: #4a6985;
}
.announcement-details .announcements .announcements-container .announcements-content p:hover{
  color: #4a6985;
}

