.announcement-logo img{
    height: 500px;
    width: 100%;
}
.headline-announce{
    display: flex;
  justify-content: space-between;
  width: 80%;
  height: 30rem;
  margin: 0 auto;
}
.headline-announce .headline-container {
    height: 100%;
  width: 45%;
  
}
.headline-announce .heading {
    margin-top: 10px;
    width: 400px;
  height: 69px;
  font-size: 25px;
    color: #4a6985;
    
}

.headline-announce .heading .headline{
    font-size: 20px;
    width: 100%;
    color: black;
    margin-top: 10px;
    align-items: center;
    
}
.headline-announce .announcements {
    height: 100%;
  width: 45%;
}
.headline-announce .announcements .announcement-header{
    flex-direction: column;
  width: 400px;
  height: 69px;
}
.headline-announce .announcements .announcement-header h2{
    font-weight: 400;
  font-size: 25px;
  text-align: center;
  line-height: 49px;
  color: #4a6985;
}
.headline-announce .announcements .announcement-header hr{
    width: 300px;
  height: 2px;
  background-color: #4a6985;
  border-radius: 53px;
  border: none;
  margin: 3px auto;
}
.headline-announce .announcements .announcement-header .announcement-container{
    height: 400px;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.headline-announce .announcements .announcement-header .announcement-container .announcement-content{
    width: 95%;
  height: 40px;
  margin: 5px auto;
}
.headline-announce .announcements .announcement-header .announcement-container .announcement-content a{
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}
.headline-announce .announcements .announcement-header .announcement-container .announcement-content a:hover{
    color : #4a6985;
}
  .headline-announce .announcements .announcement-header .announcement-container .announcement-content hr{
    width: 100%;
  height: 2px;
  background-color: #4a6985;
  border: none;
}