/* Departmental Swiper Section begins  */
.swiper {
  width: 100%;
  height: 30rem;
  padding: 20px 0;
  z-index: 4;
  margin-top: -50px;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 430px;
  background: #6c6d29;
  border-radius: 50px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.54);
  margin: 0 50px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 47%;
  object-fit: cover;
  /* border-radius: 50px; */
}
.swiper-slide h2 {
  text-align: left;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 900;
  margin-bottom: 15px;
  padding: 0 10px;
}
.swiper-slide p {
  position: relative;
  color: #fff;
  font-family: Nexa;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  padding: 0 10px;
}
.swiper-slide i {
  position: absolute;
  top: 350px;
  right: 10px;
  font-size: 30px;
  color: white;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  font-size: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  backdrop-filter: blur(8px);
}

/* Departmental Swiper Section ends  */

/* swiper responsiveness for mobile phones */
@media only screen and (max-width: 576px) {
  .swiper {
    width: 100%;
    height: 260px;
    padding: 10px 0;
    z-index: 4;
    margin-top: -30px;
  }
  .swiper-wrapper .swiper-slide {
    width: 150px;
    height: 220px;
    margin: 0 15px;
    border-radius: 35px;
  }
  .swiper-slide img {
    width: 100%;
    object-fit: cover;
  }
  .swiper-slide h2 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    margin-bottom: 0px;
  }
  .swiper-slide p {
    position: relative;
    text-align: left;
    font-weight: 100;
    font-size: 11px;
    line-height: 15px;
  }
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: none;
  }
}
/* swiper responsiveness for mobile phones ends*/

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 23rem;
    padding: 10px 0;
    z-index: 4;
    margin-top: -30px;
    margin-bottom: 20px;
  }
  .swiper-wrapper .swiper-slide {
    width: 200px;
    height: 300px;
    margin: 0 20px;
    border-radius: 30px;
  }
  .swiper-slide h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .swiper-slide p {
    position: relative;
    font-size: 14px;
    /* line-height: 30px; */
    text-align: left;
    padding: 0 10px;
  }
  .swiper-slide i {
    position: absolute;
    top: 270px;
    right: 20px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .swiper {
    width: 100%;
    height: 24rem;
    padding: 15px 0;
    z-index: 4;
    margin-top: -35px;
    margin-bottom: 40px;
  }
  .swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 330px;
    margin: 20px;
  }

  .swiper-slide h2 {
    text-align: left;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
  }
  .swiper-slide p {
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
  }
}
