:root {
  --font-green-text: #008800;
  --grey-background: #dee1e6b3;
  --white: #ffffff;
  --nav-background-color: #e8eaee;
  --header-one-color: #4a6985;
  --yellow-bg: #e3e725;
  --box-shadow: 0 0 5px #b3b2b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(/images/background.png);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.whole-content {
  max-width: 1214px;
  margin: 2rem auto;
  padding-top: 8%;
  background-color: #fff;
}
/* top section styles */
.top-section {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
  padding-bottom: 3rem;
}

.filter-container {
  position: relative;
}

.filter-bar {
  display: flex;
  width: 150px;
  /* margin-top: 2px; */
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-background);
  padding: 6px 8px;
  border-radius: 15px;
  cursor: pointer;
}

.filter-bar img {
  width: 20px;
  height: 20px;
  filter: invert(35%) sepia(71%) saturate(253%) hue-rotate(166deg)
    brightness(93%) contrast(88%);
}

.filter-bar .left-fbar img {
  width: 10px;
  height: 10px;
}

.filter-bar .left-fbar span {
  font-size: 15px;
  color: var(--header-one-color);
}

/* filter options */

#filterOptions {
  display: none;
  position: absolute;
  top: 2rem;
  left: 1%;
  z-index: 2;
  /* width: 10.5%; */
  text-align: center;
  opacity: 0.95;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: var(--box-shadow);
  /* padding: 10px; */
}

/* #filterOptions:hover {
  display: block;
} */

#filter-dropdown {
  list-style-type: none;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 15px;
}

#filter-dropdown li {
  padding: 10px 30px;
  border-radius: 15px;
  border-bottom: 2px solid var(--grey-background);
  margin: 5px;
}

#filter-dropdown li:hover {
  background-color: var(--grey-background);
  transform: scale(1.07);
}

#filter-dropdown li a {
  color: var(--font-green-text);
  text-transform: capitalize;
}

.top-header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-anim {
  width: 90%;
  background-color: var(--nav-background-color);
  border: 1px solid var(--grey-background);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 0.5rem;
}

marquee h3 {
  color: var(--header-one-color);
  font-style: italic;
  line-height: 1.1rem;
  word-spacing: 0.2rem;
  letter-spacing: 2px;
}

.top-header-title-container .title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: var(--font-green-text);
  letter-spacing: 8px;
  text-shadow: 2px 2px 4px var(--font-green-text);
}

.mid-components {
  /* width: 80%; */
  padding-inline: 5px;
  border-radius: 15px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav-background-color);
  box-shadow: var(--box-shadow);
}

.mid-components span {
  padding: 5px 8px;
  border-radius: 15px;
  transition: all 0.2s;
}

.mid-components span.c-active {
  background-color: var(--grey-background);
  padding: 5px 8px;
  border-radius: 15px;
}

.mid-components span a {
  color: var(--header-one-color);
  letter-spacing: 1.8px;
}

.mid-components span:hover {
  background-color: var(--grey-background);
  transform: scale(1.07);
}

.search-container {
  display: flex;
  justify-content: end;
  align-items: start;
}

.right-comp-search {
  display: flex;
  justify-content: end;
  /* width: 50%; */
  background-color: var(--grey-background);
  border-radius: 15px;
  padding: 5px;
}

.left-sub-img-container {
  display: flex;
  justify-content: start;
}

.right-sub-img-container {
  display: flex;
  justify-content: end;
}

.right-comp-search img {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
}

.right-comp-search input {
  border: none;
  outline: none;
  background: none;
}

/* cards section */
.card-section {
  background-color: var(--nav-background-color);
  padding: 2rem 1rem;
  box-shadow: var(--box-shadow);
}
.cards-header,
.cards-container {
  display: flex;
  align-items: center;
}

.tag-container {
  border: 1px solid #6c6d29;
  border-radius: 50%;
  padding: 8px;
  margin-right: 1rem;
  background-color: var(--nav-background-color);
}

.cards-header span {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--header-one-color);
}

.cards-container {
  position: relative;
}

.divider {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  width: 1px;
  background-color: #6c6d29;
}

.divider::before {
  content: "";
  display: block;
  position: absolute;
  margin-top: 4px;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-left: -8px;
  border-radius: 10px;
  background-color: #6c6d29;
  opacity: 0.25;
  z-index: 0;
}

.divider::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  margin-left: -4px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #6c6d29;
  z-index: 1;
}

/* cards */
.cards {
  width: 100%;
  margin: 0.6rem 0 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 270px;
  background-color: #fff;
  border-radius: 8px 0;
  box-shadow: 0 0 5px #b3b2b2;
  margin-bottom: 30px;
  transition: all 0.2s;
}

.cards .card:hover {
  box-shadow: 0.1px 0.1px 12px #b3b2b2;
  transform: scale(1.03);
}

.cards .card .img-container {
  border-radius: 8px 0;
  overflow: hidden;
  position: relative;
}

.cards .card .img-container .profile {
  width: 100%;
  height: 100%;
  min-height: 125px;
  max-height: 125px;
  transition: all 0.2s;
}

.cards .card .img-container .profile:hover {
  transform: scale(1.05);
}

.cards .card .img-container img {
  object-fit: cover;
}

.cards .card .img-container .option {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.cards .card .card-body {
  margin: 15px;
}

.cards .card .card-body .card-title,
.content .card .card-body .card-discription {
  margin-bottom: 10px;
}

.cards .card .card-body .card-title span {
  max-width: 200px;
  font-weight: bold;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: wrap;
  overflow: hidden;
}

.cards .card .card-body .card-discription span {
  display: block;
  font-size: 12px;
  color: #6a6a6a;
}

.cards .card .card-body .card-discription span:nth-child(2) {
  margin-bottom: 8px;
}

/* progress-bar */
.progress-bar {
  background: #959595;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  margin-bottom: 10px;
}

.progress-bar div {
  height: 3px;
  border-radius: 1.5px;
  width: 0%;
  background: #6c6d29;
}

.progress-bar div span {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: 0 0 6px #6c6d29;
  background: #fefefe;
  float: right;
  margin-top: -7px;
  margin-right: -15px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border: 1px solid #6c6d29;
}

.progress-bar div.prog1 {
  animation: prog1 1s linear forwards;
}
.progress-bar div.prog2 {
  animation: prog2 1s linear forwards;
}
.progress-bar div.prog3 {
  animation: prog3 1s linear forwards;
}
.progress-bar div.prog4 {
  animation: prog4 1s linear forwards;
}

@keyframes prog1 {
  100% {
    width: 93%;
  }
}
@keyframes prog2 {
  100% {
    width: 50%;
  }
}
@keyframes prog3 {
  100% {
    width: 60%;
  }
}
@keyframes prog4 {
  100% {
    width: 20%;
  }
}

/* card-footer */

.cards .card .card-footer .footer-discrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards .card .card-footer .footer-discrip .left-dis,
.cards .card .card-footer .footer-discrip .right-dis span {
  font-size: 10px;
  color: #6c6d29;
}

.right-dis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card .card-footer .footer-discrip .right-dis img {
  width: 12px;
  height: 10px;
}

/* Footer Section begins */
.footer {
  width: 100%;
  background: #e8eaee;
  border-radius: 5px;
  margin: 100px 0;
}
.footer .footer-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.footer .footer-content .info-quick-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
.info-quick-links .info-about {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.info-quick-links .info-about .info-about-title {
  max-width: 325px;
  margin-bottom: 12px;
}
.info-quick-links .info-about .info-about-title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.info-quick-links .info-about .info-about-title hr {
  width: 100px;
  height: 3px;
  border: none;
  background-color: #3a3a3a;
}
.info-quick-links .info-about .info-about-links {
  width: 100%;
  /* height: 80%; */
}
.info-quick-links .info-about .info-about-links ul {
  width: 100%;
  height: 100%;
}
.info-quick-links .info-about .info-about-links ul > li {
  list-style: none;
  margin: 5px 0;
}
.info-quick-links .info-about .info-about-links ul > li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}
.info-quick-links .info-about .info-about-links ul > li a:hover {
  text-decoration: underline;
}
.info-quick-links .info-for {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 30%;
}

.info-quick-links .info-for .info-for-title {
  max-width: 325px;
  margin-bottom: 12px;
}
.info-quick-links .info-for .info-for-title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.info-quick-links .info-for .info-for-title hr {
  width: 100px;
  height: 3px;
  border: none;
  background-color: #3a3a3a;
}
.info-quick-links .info-for .info-for-links {
  width: 100%;
  height: 80%;
}
.info-quick-links .info-for .info-for-links ul {
  width: 100%;
}
.info-quick-links .info-for .info-for-links ul > li {
  list-style: none;
  margin: 5px 0;
}
.info-quick-links .info-for .info-for-links ul > li > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}
.info-quick-links .info-for .info-for-links ul > li > a:hover {
  text-decoration: underline;
}

.info-quick-links .quick-link-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 30%;
}
.info-quick-links .quick-link-box .quick-link-title {
  max-width: 325px;
  margin-bottom: 12px;
}
.info-quick-links .quick-link-box .quick-link-title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.info-quick-links .quick-link-box .quick-link-title hr {
  width: 100px;
  height: 3px;
  border: none;
  background-color: #3a3a3a;
}

.info-quick-links .quick-link-box .quick-links {
  width: 100%;
  height: 80%;
}
.info-quick-links .quick-link-box .quick-links ul {
  width: 100%;
}
.info-quick-links .quick-link-box .quick-links ul > li {
  list-style: none;
  margin: 5px 0;
}
.info-quick-links .quick-link-box .quick-links ul > li > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}
.info-quick-links .quick-link-box .quick-links ul > li > a:hover {
  text-decoration: underline;
}

/* connection section */
.footer-content .connection {
  width: 90%;
  height: 80px;
}
.footer-content .connection .connection-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.footer-content .connection .connection-content span {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #3a3a3a;
  margin-top: 1.5%;
  margin-right: 20px;
}
.footer-content .connection .connection-content .connect-icons a {
  text-decoration: none;
}
.footer-content .connection .connection-content .connect-icons a > img {
  height: 30px;
  width: 30px;
  margin: 0 20px;
}
.footer-content .connection hr {
  width: 90%;
  height: 2px;
  border: none;
  margin-left: 30px;
  background: #3a3a3a;
  margin-bottom: 20px;
}
.footer-content .licence {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 25px;
}
.footer-content .licence .licence-left {
  /* width: 40%; */
  height: 100%;
}
.footer-content .licence .licence-left i {
  font-size: 15px;
}
.footer-content .licence .licence-left span {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.footer-content .licence .licence-middle {
  height: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.footer-content .licence .licence-right {
  height: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #3a3a3a;
}
.footer-content .licence .circle {
  width: 10px;
  height: 10px;
  background: #3a3a3a;
  border-radius: 50%;
}

/* query medias  for desktops */
@media screen and (max-width: 1115px) {
  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 300px;
  }
}

@media screen and (max-width: 942px) {
  .mid-components span {
    font-size: 15px;
  }
}

@media screen and (max-width: 913px) {
  .mid-components span {
    font-size: 12px;
  }
}

@media screen and (max-width: 867px) {
  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 250px;
  }

  .mid-components span {
    font-size: 12px;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 805px) {
  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 220px;
  }

  .top-header-title-container .title {
    font-size: 0.8rem;
  }
  .mid-components span {
    font-size: 10px;
  }
}

@media screen and (max-width: 742px) {
  .nav-elements {
    font-size: 12px;
  }
}

@media screen and (max-width: 715px) {
  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 180px;
  }

  .top-header-title-container .title {
    font-size: 0.7rem;
  }
  .mid-components span {
    font-size: 8px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* query medias  for mobiles */
@media screen and (max-width: 610px) {
  .menu {
    display: block;
    box-shadow: var(--box-shadow);
    padding: 5px;
    border-radius: 10px;
  }
  .close {
    display: none;
  }
  .search-container {
    display: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
  .nav-header {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 4.8rem;
    right: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    border-radius: 0 0 0 5px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
  }

  .nav-elements span {
    display: none;
  }
  .nav-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .nav-elements li {
    padding: 20px 40px;
    width: 100%;
    border-bottom: 1px solid var(--yellow-bg);
  }

  .nav-elements li:hover {
    transform: scale(1.07);
    background-color: var(--nav-background-color);
  }

  .nav-elements li a {
    font-size: 1rem;
    color: var(--font-green-text);
  }

  .right-img-container {
    display: none;
  }
  .top-section {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    margin-top: 4.8rem;
  }

  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 400px;
  }

  .mid-components span {
    font-size: 12px;
  }

  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  #filterOptions {
    top: 2rem;
    left: 24%;
  }

  .top-header-title-container .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

/* footer responsiveness for mobile devices */
@media only screen and (max-width: 576px) {
  .footer {
    width: 100%;
    margin: 50px 0;
  }
  .footer .footer-content {
    padding: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .info-quick-links .info-about {
    width: 150px;
  }

  .info-quick-links .info-about .info-about-title h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
  }
  .info-quick-links .info-about .info-about-title hr {
    width: 50px;
    height: 2px;
  }

  .info-quick-links .info-about .info-about-links ul > li {
    list-style: none;
    width: 100%;
  }
  .info-quick-links .info-about .info-about-links ul > li a {
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .info-quick-links .info-for {
    width: 150px;
  }
  .info-quick-links .info-for .info-for-title h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
  }
  .info-quick-links .info-for .info-for-title hr {
    width: 50px;
    height: 2px;
  }

  .info-quick-links .info-for .info-for-links ul > li {
    list-style: none;
    width: 100%;
  }
  .info-quick-links .info-for .info-for-links ul > li a {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .info-quick-links .quick-link-box {
    width: 150px;
  }
  .info-quick-links .quick-link-box .quick-link-title h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
  }
  .info-quick-links .quick-link-box .quick-link-title hr {
    width: 50px;
    height: 2px;
  }

  .info-quick-links .quick-link-box .quick-links ul > li {
    list-style: none;
    width: 100%;
  }
  .info-quick-links .quick-link-box .quick-links ul > li a {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .footer-content .connection {
    width: 100%;
    height: 50px;
  }
  .footer-content .connection .connection-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .footer-content .connection .connection-content {
    width: 100%;
  }
  .footer-content .connection .connection-content span {
    width: 140px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-top: 1.5%;
  }

  .footer-content .connection .connection-content .connect-icons a > img {
    height: 18px;
    width: 18px;
    margin: 0 5px;
  }
  .footer-content .connection hr {
    width: 90%;
    height: 1.5px;
    border: none;
  }
}

@media only screen and (max-width: 576px) {
  .footer-content .licence {
    width: 100%;
    margin-top: 5px;
  }
  .footer-content .licence .licence-left {
    height: 100%;
  }
  .footer-content .licence .licence-left i {
    font-size: 9px;
  }
  .footer-content .licence .licence-left span {
    font-weight: 400;
    font-size: 9px;
    line-height: 24px;
  }
  .footer-content .licence .licence-middle {
    height: 100%;
    font-weight: 400;
    font-size: 9px;
    line-height: 24px;
    color: #000000;
  }
  .footer-content .licence .licence-right {
    height: 100%;
    font-weight: 700;
    font-size: 9px;
    line-height: 22px;
  }
  .footer-content .licence .circle {
    width: 3px;
    height: 3px;
  }
}

@media screen and (max-width: 490px) {
  .cards {
    /* grid-template-columns: 1fr; */
    column-gap: 1px;
    row-gap: 2px;
  }

  .cards .card .card-body .card-discription span {
    font-size: 10px;
  }

  .cards .card {
    /* width: 80%; */
    margin-bottom: 12px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .logo-container span {
    font-size: 0.8rem;
    line-height: 15px;
  }
  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 300px;
  }
  .top-header-title-container .title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 335px) {
  #menuIcon,
  #closeIcon {
    width: 14px;
  }
  .nav-header {
    top: 4.5rem;
  }
  .logo-container a img {
    width: 40px;
    height: 40px;
  }
  .logo-container span {
    font-size: 0.6rem;
    line-height: 15px;
  }
  .right-sub-img-container img,
  .left-sub-img-container img {
    width: 250px;
  }
  .top-header-title-container .title {
    font-size: 0.9rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
