@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@400;500;700&display=swap");

:root {
  --font-green-text: #008800;
  --grey-background: #dee1e6b3;
  --white: #ffffff;
  --nav-background-color: #e8eaee;
  --header-one-color: #4a6985;
  --yellow-bg: #e3e725;
  --box-shadow: 0 0 5px #b3b2b2;
  --folder-bg: #c8fde4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(/img/background.png);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: Montserrat;
  overflow-x: hidden;
}

.whole-content {
  max-width: 1214px;
  margin: 2rem auto;
  padding-inline: 14px;
  overflow-x: hidden;
  background-color: #fff;
}
/*  nav styling */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px 8px;
  background-color: var(--white);
  border: 2px solid #eef0ef;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.logo-container span {
  text-align: center;
  text-transform: uppercase;
  color: var(--font-green-text);
  /* margin-top: 6px; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.right-components {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search,
.right-comp-search {
  display: flex;
  background-color: var(--grey-background);
  border-radius: 18px;
  padding: 5px;
}

.nav-search img,
.right-comp-search img {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
}

.nav-search input,
.right-comp-search input {
  border: none;
  outline: none;
  background: none;
}

.menu {
  display: none;
  border-radius: 8px;
  /* padding: 5px; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.close {
  display: none;
}

/* nav-header elements */
.nav-header {
  position: sticky;
  top: 20px;
  z-index: 999;
  height: 65px;
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.95;
  padding: 18px;
}

.left-header {
  color: var(--font-green-text);
}

.left-header .title {
  text-transform: uppercase;
  padding-right: 10px;
  letter-spacing: 1.1px;
  border-right: 1px solid var(--font-green-text);
}

.left-header .course-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-transform: capitalize;
  padding-left: 5px;
}

.share-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #3a3a3a;
  border-radius: 15px;
}

.share-btn span {
  font-size: 18px;
  color: var(--font-green-text);
  margin-right: 6px;
}

.slide-pic {
  background-color: var(--white);
}

.slide-pic img {
  width: 100%;
  height: 543px;
  margin-top: 1rem;
  object-fit: cover;
}

.resource-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  padding: 20px 15px;
}

.resource-type {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resource-type a {
  color: #000;
  margin-inline: 8px;
  font-weight: 200;
}

.resource-type a.active {
  font-weight: 600;
  border-bottom: 1px solid #000;
  padding: 2px;
}

.resource-search {
  display: flex;
  background-color: var(--white);
  border-radius: 18px;
  padding: 5px;
}

.resource-search img {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
}

.resource-search input {
  border: none;
  outline: none;
  background: none;
}

.lessons-container {
  background-color: #eef0ef;
  padding-bottom: 3rem;
}

.lesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border: 1px solid #cccccc;
  background-color: var(--folder-bg);
  padding: 10px 30px 5px 18px;
}

.left-folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-img-container {
  padding-right: 18px;
}

.folder-img {
  width: 58px;
  height: 58px;
}

.lesson-descrip h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.drop-img {
  width: 25px;
  height: 12px;
}

.folder-size {
  font-weight: 400;
  font-size: 15px;
}

.subLessons {
  /* display: none; */
}

.sub-lesson {
  padding: 15px 20px 0;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
}

.file-left {
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.file-discrip {
  margin-left: 20px;
}

.file-name,
.file-num {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.file-size-img-container {
  margin-left: 1rem;
}

.file-size-img {
  width: 20px;
  height: 22px;
  margin-right: 5px;
}

.file-size-img-container span {
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 30px;
}

.file-download-icon {
  padding-inline: 6rem;
  width: 220px;
  height: 30px;
}

.horizonLine {
  margin-top: 0.5rem;
  border-color: #ffffff;
}

@media screen and (max-width: 840px) {
  .slide-pic img {
    height: 500px;
  }
  .share-btn {
    padding: 8px 18px;
  }
  .folder-img {
    width: 50px;
    height: 50px;
  }
  .lesson {
    height: 90px;
  }
  .lesson-descrip h2 {
    font-size: 18px;
  }
  .folder-size {
    font-size: 12px;
  }
  .drop-img {
    width: 16px;
    height: 10px;
  }

  .file-name,
  .file-num {
    font-size: 16px;
  }
  .file-size-img {
    width: 18px;
    height: 20px;
  }
  .file-download-icon {
    width: 220px;
    height: 20px;
  }
}

@media screen and (max-width: 675px) {
  .whole-content {
    margin: unset;
  }
  .menu {
    display: block;
    margin-left: 10px;
  }
  .nav-search input,
  .right-comp-search input {
    display: none;
    background: unset;
  }
  .left-header .title,
  .left-header .course-title {
    font-size: 12px;
  }
  .share-btn {
    padding: 3px 12px;
  }
  .nav-header {
    padding: 10px;
  }
  .share-btn span {
    font-size: 12px;
  }
  .share-img {
    width: 15px;
    height: 15px;
  }
  .slide-pic img {
    height: 300px;
  }

  .resource-type {
    font-size: 12px;
  }
  .resource-bar {
    padding: 12px 15px;
  }
  .search-container {
    display: flex;
    justify-content: end;
  }

  .resource-search {
    padding: unset;
    width: 70%;
  }

  .resource-search img {
    width: 12px;
    height: 12px;
  }
  .resource-search input {
    font-size: 12px;
  }
  .lesson {
    height: 75px;
  }
  .folder-img {
    width: 35px;
    height: 35px;
  }
  .lesson-descrip h2 {
    font-size: 12px;
  }
  .drop-img {
    width: 12px;
    height: 8px;
  }
  .sub-lesson {
    padding: 10px 20px 0;
  }
  .file-name,
  .file-num {
    font-size: 12px;
    margin-bottom: 0.3rem;
  }
  .file-size-img {
    width: 12px;
    height: 16px;
  }
  .file-download-icon {
    padding-inline: 2rem;
    width: 80px;
    height: 18px;
  }
  .file-size-img-container {
    font-size: 12px;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 505px) {
  .logo-container span {
    font-size: 12px;
  }

  .left-header .title,
  .left-header .course-title {
    letter-spacing: 0px;
    font-size: 10px;
  }
  .nav-header {
    height: 45px;
  }
  .share-btn span {
    font-size: 8px;
  }
  .share-img {
    width: 10px;
    height: 10px;
  }
  .resource-type {
    font-size: 8px;
  }
  .slide-pic img {
    height: 200px;
  }
  .lesson-descrip h2 {
    font-size: 10px;
  }
  .folder-size {
    font-size: 8px;
  }
  .folder-img {
    width: 25px;
    height: 25px;
  }
  .file-name,
  .file-num {
    font-size: 8px;
    margin-bottom: unset;
  }
  .lesson {
    height: 40px;
  }
  .lesson-descrip h2 {
    margin-bottom: 0;
  }
  .file {
    margin-inline: 0.5rem;
  }
  .file-size-img-container span {
    font-size: 8px;
  }
  .file-size-img {
    width: 8px;
    height: 12px;
  }
  .file-download-icon {
    padding-inline: 1rem;
    width: 40px;
    height: 12px;
  }
  .folder-img-container {
    padding-right: 12px;
  }
  /* .file-discrip {
    margin-left: 15px;
  } */

  .drop-img {
    width: 10px;
    height: 6px;
  }
  .sub-lesson {
    padding-top: 5px;
  }
  .horizonLine {
    margin-top: unset;
  }
}

@media screen and (max-width: 420px) {
  .whole-content {
    padding: unset;
  }
  .slide-pic {
    padding-inline: 12px;
  }
  .logo-container span {
    font-size: 10px;
    line-height: 18px;
  }
  .nav-search img,
  .right-comp-search img {
    width: 12px;
    height: 12px;
    margin: 3px 5px;
  }
  .nav-header {
    height: 35px;
  }
  .share-btn {
    padding: 2px 6px;
  }
  .left-header .title,
  .left-header .course-title {
    font-size: 8px;
  }
  .left-header .title {
    padding-right: 6px;
  }
  .resource-search input {
    font-size: 8px;
    width: 50%;
  }
  .resource-search img {
    width: 8px;
    height: 8px;
  }
  .resource-searchz {
    width: 50%;
  }
  .file-size-img {
    height: 10px;
  }
  .folder-img {
    width: 20px;
    height: 20px;
  }
  .folder-img-container {
    padding-right: 8px;
  }
  .lesson-descrip h2 {
    font-size: 8px;
  }
  .drop-img {
    width: 8px;
  }
  .slide-pic img {
    height: 150px;
  }
}

@media screen and (max-width: 365px) {
  .search-container {
    display: none;
  }
  .share-icon {
    display: none;
  }
  .lesson {
    padding: 10px 18px 5px 12px;
  }
  .sub-lesson {
    padding-inline: 10px;
  }
  .file-download-icon {
    width: 30px;
    height: 10px;
  }
  .file-download-icon {
    padding-inline: 0.5rem;
  }
}
